<div class="top_container">
  <%= image_tag 'cat.png' %>
  <div class="top_content">
    <h1 class="top_title">Blog</h1>
    <div class="top_menu">
      <a><%= link_to "ブログ一覧画面", blogs_path %></a>
      <a><%= link_to "ブログ新規作成", new_blog_path %></a>
    </div>
  </div>
  <div class="top_explanation">
    <p>こちらのサイトでは、ブログの新規作成、編集、一覧画面表示が行えます。</p>
  </div>
</div>